################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ProbeDataToCommands/bin/Debug
/ProbeDataToCommands/obj/Debug
