<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ProbeDataToCommands.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <ProbeDataToCommands.Properties.Settings>
            <setting name="txtArmLengthInput" serializeAs="String">
                <value>240</value>
            </setting>
            <setting name="txtHeightInput" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="txtRadiusInput" serializeAs="String">
                <value>140</value>
            </setting>
            <setting name="txtXadjustInput" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="txtYadjustInput" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="txtZadjustInput" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="txtXEndstopInput" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="txtYEndstopInput" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="txtZEndstopInput" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="radioZProbe" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="radioZCorrection" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="txtStepsPerMmInput" serializeAs="String">
                <value>80</value>
            </setting>
            <setting name="txtBedRadiusInput" serializeAs="String">
                <value>90</value>
            </setting>
        </ProbeDataToCommands.Properties.Settings>
    </userSettings>
</configuration>